*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    gap: 0.5em;
    margin-bottom: 1.5em;
}

nav input:first-child {
    height: 5vh;
    width: 15vw;
    border: 1px solid rgb(164, 164, 164);
}

nav select {
    height: 5vh;
    width: 40vw;
    padding-inline: 0.3em;
    border: 1px solid rgb(164, 164, 164);
}

nav button {
    color: rgb(48, 48, 48);
    height: 5vh;
    font-weight: bold;
    border: 1px solid rgb(164, 164, 164);
    background-color: hsl(0, 0%, 23%);
    border-radius: 5px;
    color: #fff;
}

.single-color {
    width: 100%;
    height: 55vh;
}

.container {
    display: flex;
}

.single-color-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hex-value {
    color: black;
    font-family: monospace;
}

.toggle-bg {
    width: 50vw;
    height: 5vh;
    color: #fff;
    background-color: hsl(0, 0%, 23%);
    border: 1px solid rgb(164, 164, 164);
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}
.dark-bg {
    background-color: hsl(0, 0%, 23%);
    color: #fff;
}
.dark-btn {
    background-color: white;
    color: rgb(48, 48, 48);
}

.toggle-text {
    color: #fff;
}

@media (min-width: 2000px) {
    nav {
        padding: 2.5em 30em;
    }
.container {
    padding: 0 30em;
}
.button-container {
    margin-top: 2em;
}
}